node_modules
.env
.webpack
.serverless
.env*
.build
.github
.circleci
.eslintrc
.prettierrc
tslint.json
tsconfig.json
.eslintrcignore
.npmignore
.dockerignore
jest.config.js
yarn.lock

README.md
LICENSE-*